<head>
    <link rel="stylesheet" href="styles/admin.css">
</head>

<header>
    <section>
        <h1>LOC</h1>
        <nav>
            <a href="/">Home</a> | <a href="/summary">Form</a>
        </nav>
    </section>
</header>