<!DOCTYPE html>
<html lang="en">

<header class="site-header">
    <div class="header-container">
        <div class="logo">
            <img src="/images/GRClogo.png" alt="GRC LOGO">
            <h1>LOC</h1>
        </div>
        <nav class="header-nav">
            <a href="/">Home</a>
            <a href="/summary">Form</a>
        </nav>
    </div>
</header>
</html>