<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Outcomes Committee</title>
    <link rel="stylesheet" href="styles/styles.css">
    <script src="js/loc.js" defer></script>

    <!-- SERVER PORT IS 3004 : DIGITAL OCEAN YOUR IP : 3004 -->
</head>
<body>

    <!-- For later -->
    <header>
        <h1>LOC</h1>
    </header>

    <!-- Form -->
    <form id="loc-form" action="#" method="put">
        <legend>Division</legend>
        <select id ="division" name="division">
            <option value="select">Select</option>
            <option value="fine-arts">Fine Arts</option>
            <option value="humanities">Humanities</option>
            <option value="social-science">Social Science</option>
            <option value="english">English</option>
            <option value="science">Science</option>
            <option value="BL&E">Business, Law, and Education</option>
            <option value="technology">Technology</option>
            <option value="health-science">Health Science</option>
            <option value="trades">Trades</option>
            <option value="tran-studies">Transitional Studies</option>
        </select>
        <span id="err-div" class ="error">Must Select a division</span>
        
        <div id="info">
            <label>Division : <input type="text" id="div-name" name="div-name"> </label>
            <label>Chair : <input type="text" id="chair" name="chair"> </label>
            <label>Dean : <input type="text" id="dean" name="dean"> </label>
            <label>LOC Rep : <input type="text" id="loc" name="loc"> </label>
            <label>PEN Contact : <input type="text" id="pen" name="pen"> </label>
        </div>

        <button type="submit" id="save">Save</button>
        <button type="submit" id="cancel">Cancel</button>
    </form>
</body>
</html>