/** 
    TODO: We can have a team meeting to talk about how we want it set up right now is very very minimal.
*/

h1 {
    color: blue;
}

input {
    display: grid;
}

label {
    display: block;
}

.error {
    color: red;
    display: none;
}

button {
    display: none;
}

#cancel {
    color: grey;
}

#save {
    color: green;
}