/** 
    TODO: We can have a team meeting to talk about how we want it set up right now is very very minimal.
*/

html {
    height: 100%;
    display: grid;
    place-items: center;
    background-color:green;
    font-family: 'Segoe UI', Roboto, sans-serif;
    min-width: 240px;
}
body {
    background-color: white;
    border-radius: .5rem;
    padding: 1.5rem 2%; 
    max-width: 750px;
    width: 90%; 
    min-height: 40vh;
}
html:has(.summary) {
    min-width:1000px;
    height:auto;
    display:grid;
    place-items: center;

}
html:has(.summary) body {
    max-width: 1400px;
}
h1 {
    color: darkblue;
    text-align: center;
    margin:0;
}
h2 {
    text-align: center;
    margin:0;
}
a:link, a:visited {
  color: blue;
  text-decoration: none;
}
a:hover {
  color:deepskyblue;
}
#division-dropdown {
    justify-self: center;
    border-style:none;
}
#info {
    display:grid;
    justify-self: center;
    border-style: none;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    column-gap: 10px;
    grid-template-areas: 
    "program chair dean"
    "loc pen payee"
    "paid submitted notes";
}
.program {
    grid-area: program;
}
.chair {
    grid-area: chair;
}
.dean {
    grid-area: dean;
}
.loc {
    grid-area: loc;
}
.pen {
    grid-area: pen;
}
.payee {
    grid-area: payee;
}
.paid {
    grid-area: paid;
}
.submitted {
    grid-area: submitted;
}
.notes {
    grid-area: notes;
}
#buttons {
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    border-style: none;
}
input {
    display: grid;
}
label {
    display: block;
}
legend {
    font-weight: bold;
}
.error {
    color: red;
    display: none;
}

#program-fields {
    display: none;
}
#division-fields {
    display: none;
}

#cancel {
    border: none;
    background-color: grey;
    border-color: grey;
    padding: .25rem .5rem;
    border-radius: .25rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;

    display: none;
}
#save {
    border: none;
    background-color: green;
    border-color: green;
    padding: .25rem .5rem;
    border-radius: .25rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;

    display: none;
}
@media (max-width: 575px) {
    #info {
        display:flex;
        flex-flow:column nowrap;
        align-items: center;
        border-style:none;
    }
}